Button1{
    background-color: blue; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.Menu {
    background-color: #23272A;
    overflow: hidden;
    border: lightblue;
    bottom: 20px;

}
.Text{
    text-align: center;
    color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 15px;
    font-size: 23px;
}
.Name{
    text-align:center;
    font-size: 120px;
    color: #7289DA;
}

.Menu a {
    float: left;
    color: #99AAB5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 29px 29px 29px;
}

.Menu a:hover {
    background-color: #7289DA;
    color: black;
}

.Menu a.active {
    background-color: #7289DA;
    color: #99AAB5;
}
