* { font-family: Poppins; 
    box-sizing: border-box;}

body {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    background-color: #23272a;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right > a {
    padding: 5px 15px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.right > a:hover {
    background-color: rgba(87, 87, 87, 0.699);
}

/* Center class by AnshumanMahato */

.center {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.center > p {
    margin: 0;
    font-weight: bold;
}

nav {
    margin: 20px 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.images > img { width: 10%; }
.images > #gideon { width: 15%; }

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
}

.left > a {
    color: white;
    transition: background-color 0.2s;
    padding: 10px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0;
}

.left > a:hover { background-color: gray; }
.selected { background-color: #424242; }

.big {
    color: white;
    text-align: center;
}

.big > h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
}

.big > p {
    margin: 0 auto;
    color: gray;
    width: 80%;
    font-size: 16px;
}

.lightbutton, .darkbutton {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 176px;
    border-radius: 8px;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: 600;
}

.links { margin-top: 30px; }

.lightbutton { background-color: #7289da; }
.darkbutton { background-color: #2c2f33; }

.lightbutton:hover { background-color: rgb(95, 119, 207); }
.darkbutton:hover { background-color: rgb(43, 43, 43); }

main {
    background-color: #23272A;
    /*background-image: url(https://auxetite-cdn.sirv.com/wavy-blurple-by-nouridio.svg);*/
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 2% 0;
}

main > h2 { color: white; }

footer {
    background-color: #353e4c;
    color: white;
    text-align: center;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.hidden { display: none; }
#aboutinfo { color: white; }
a { color: red; }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.closebtn:hover { color: black; }

.show { display: block; }
.hide { display: none; }
  
@media (max-width: 768px) {
    .hide {
        display: block;
        width: 100%;
    }

    nav {
        flex-direction: column;
        margin: 0;
    }

    .left {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .right {
        width: 90%;
        flex-direction: column;
    }

    .right > a {
        margin-top: 5px;
        padding: 3px 15px;
    }

    .show { display: none; }
    footer { font-size: small; }
    .big > h1 { font-size: 25px; }
    .big > p { font-size: 13px; }
    .outer { display: none; }
    .images > img { width: 25%; }
    .images > #gideon { width: 35%; }
}